@font-face {
	font-family: "YekanBakh";
	font-weight: lighter;
	src: url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 04\ Regular.eot');
	src: url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 04\ Regular.eot') format('embedded-opentype'),
		 url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 04\ Regular.woff') format('woff'),
		 url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 04\ Regular.ttf') format('truetype');
}

@font-face {
	font-family: "YekanBakh";
	font-weight: 400;
	src: url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 05\ Medium.eot');
	src: url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 05\ Medium.eot') format('embedded-opentype'),
		 url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 05\ Medium.woff') format('woff'),
		 url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 05\ Medium.ttf') format('truetype');
}

@font-face {
	font-family: "YekanBakh";
	font-weight: bold;
	src: url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 06\ Bold.eot');
	src: url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 06\ Bold.eot') format('embedded-opentype'),
		 url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 06\ Bold.woff') format('woff'),
		 url('./../fonts/yekan-bakh/Yekan\ Bakh\ FaNum\ 06\ Bold.ttf') format('truetype');
}

html, body, h1, h2, h3, h4, h5, h6, p ,a , input, span, div, section {
	font-family: YekanBakh, sans-serif !important;
}
